appdirs==1.4.4; python_version >= "3.7" and python_version < "4.0" \
    --hash=sha256:a841dacd6b99318a741b166adb07e19ee71a274450e68237b4650ca1055ab128 \
    --hash=sha256:7d5d0167b2b1ba821647616af46a749d1c653740dd0d2415100fe26e27afdf41
attrs==22.2.0; python_version >= "3.6"
cattrs==22.2.0; python_version >= "3.7" and python_version < "4.0"
certifi==2022.12.7; python_version >= "3.7" and python_version < "4"
charset-normalizer==3.0.1; python_version >= "3.7" and python_version < "4"
exceptiongroup==1.1.0; python_version >= "3.7" and python_version < "3.11"
idna==3.4; python_version >= "3.7" and python_version < "4"
requests-cache==0.9.8; python_version >= "3.7" and python_version < "4.0"
requests==2.28.2; python_version >= "3.7" and python_version < "4"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0" \
    --hash=sha256:8abb2f1d86890a2dfb989f9a77cfcfd3e47c2a354b01111771326f8aa26e0254 \
    --hash=sha256:1e61c37477a1626458e36f7b1d82aa5c9b094fa4802892072e49de9c60c4c926
url-normalize==1.4.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0" \
    --hash=sha256:d23d3a070ac52a67b83a1c59a0e68f8608d1cd538783b401bc9de2c0fac999b2 \
    --hash=sha256:ec3c301f04e5bb676d333a7fa162fa977ad2ca04b7e652bfc9fac4e405728eed
urllib3==1.26.14; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
